/* App.css */

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  background-image: url('https://cdn.smtnews.ir/thumbnail/Z4sg0P4vON1r/DgHbxnlMXIY4HHxQ1surQAAo85Q3yFplKfjrrTQJMQISG8Fb-tvWQCEK6R5G2jMs3v1XAC0YjKs03C_RWrF535ZXOAhjuUT0/%DA%A9%D8%AA%D8%A7%D8%A8%D8%AE%D8%A7%D9%86%D9%87.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#app-container {
  background-color: #ffffffb4;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  max-width: 50%;
  min-width: 400px;
  max-height: 85vh;
  min-height: 250px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

.input-container, .filter-container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin: 0;
  padding: 10px;
  border: 1px solid #555;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

#app-header {
  margin: 0 0 10px 0;
  font-family: 'Helvetica', sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 42px;
  color: rgb(0, 0, 0);
}

h2 {
  margin: 0;
  margin-top: 10px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

button {
  font-family: 'Helvetica', sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 16px;
  color: #333;
  padding: 5px 5px 20px 5px;
  cursor: pointer;
  margin: 0 5px;
  height: 20px;
  background-color: #000;
  color: #FFFFFF;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 13px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

.primaryButton {
  background-color: #00aaff;
  color: #000;
}

input[type="text"] {
  flex-grow: 1;
}

span {
  color: #000;
  font-family: Helvetica, sans-serif;
  font-weight: 550;
  font-style: normal;
  flex-grow: 1;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  appearance: none;
  border: 2px solid #ccc;
  background-color: white;
  cursor: pointer;
  outline: none;
}

/* Style when the checkbox is checked */
input[type="checkbox"]:checked {
  background-color: rgb(191, 255, 0);
  border-color: rgb(191, 255, 0);
}

input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 10px;
  height: 15px;
  border: solid rgb(0, 0, 0);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  position: relative;
  left: 5px;
  top: -0px;
}